.search-area {
  margin-top: 5px;
}
#search-icon {
  margin-right: 10px;
}
#search-input {
  display: inline;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 5px;
  height: 33px;
  margin-right: 3px;
}
#search-button {
  display: inline;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  height: 33px;
  border-radius: 3px;
}
.title-area {
  text-align: center;
  border-bottom: 1px solid rgb(202, 199, 199);
}
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
.menu-area{
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-area > div{
  margin: 0px 5px;
}
.menu-area > div:hover{
  cursor: pointer;
}
.article{
  border-style: double;
  border-top: 2px solid black;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 15px;
  display: flex;
}
.image-area{
  width: 30%;
}
.text-area{
  width: 70%;
  padding: 15px 0px;
}
.article-title{
  font-weight: 700;
  font-size: 25px;
}

